/* colors */
.my_bg_search{
    background-color: #e5e5e5;
}
.my_bg_link{
    background-color: #1b72e8;
}
.icons .fa-solid{
    color: #5b5858;
}
.icons .fa-bell{
    color: #ff8f00;
}

#top-side-bar .row:hover,
#bottom-side-bar .row:hover{
    background-color: #818e99;
    cursor: pointer;
    border-radius: 20px;
}

/* sezioni */
#search-bar{
    height: 70px;
    width: 100%;

    background-color: #f8f9fa;
}
#sidebar{
    height: calc(100vh - 70px);
    width: 70px;

    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}
#main{
    height: calc(100vh - 70px);
    width: calc(100% - 70px);

    background-color: #f8f9fa;

    overflow-y: auto;
}

/* font */
.my_font_fam{
    font-family: var(--bs-body-font-family);
}
.my_font{
    font-size: 14px;
}
.my_font_small{
    font-size: 12px;
}


/* immagini */
.logo_small{
    width: 40px;
}
.avatar_img{
    max-width: 30px;
}
/* icone */
.my_icon_size{
    width: 30px;
    height: 30px;
}
.my_icon_plus{
    width: 40px;
    height: 40px;
}
/* calcolo tabella */
.ms_table th:not(:nth-child(1)){
    width: 100px;
}

@media screen and (min-width: 768px) {
    /* side bar */
    #sidebar{
        width: 150px;
    }
}