/* search bar */
#search-bar{
    height: 70px;
    width: 100%;

    background-color: #f8f9fa;
}
.my_bg_search{
    background-color: #e5e5e5;
}
.logo_small{
    width: 40px;
}
.icons .fa-solid{
    color: #5b5858;
}
.icons .fa-bell{
    color: #ff8f00;
}

/* side bar */
#sidebar{
    height: calc(100vh - 70px);
    width: 150px;

    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}

.my_form_position{
    position: absolute;
    top: 0;
    right: 0;

    width: 50%;
    height: 200px;
}











#main{
    height: calc(100vh - 70px);
    width: calc(100% - 150px);

    background-color: #f8f9fa;

    overflow-y: auto;

    position: relative;
}
.my_bg_link{
    background-color: #1b72e8;
}
.my_font_fam{
    font-family: var(--bs-body-font-family);
}
.my_font{
    font-size: 12px;
}
.my_font_small{
    font-size: 8px;
}
.avatar_img{
    max-width: 30px;
}
.my_icon_size{
    width: 30px;
    height: 30px;
}
.my_icon_plus{
    width: 40px;
    height: 40px;
}
.ms_table th:not(:nth-child(1)){
    width: 90px;
}
.my_canvas{
    width: 800px;
}

@media screen and (max-width: 768px) {
    /* side bar */
    #sidebar{
        width: 70px;
    }
    /* main */
    #main{
        width: calc(100% - 70px);
    }
}