/* search bar */
#search-bar{
    height: 70px;
    width: 100%;

    background-color: #f8f9fa;
}
.my_bg_search{
    background-color: #e5e5e5;
}
.logo_small{
    display: none;

    width: 40px;
}
.icons .fa-solid{
    color: #5b5858;
}
.icons .fa-bell{
    color: #ff8f00;
}

/* side bar */
#sidebar{
    height: calc(100vh - 70px);
    width: 150px;

    background-color: #051e34;
    background-image: url(../img/sidebar-bg.png);
}













#main{
    height: calc(100vh - 70px);
    width: calc(100% - 150px);
}


@media screen and (max-width: 768px) {
    /* search bar */
    .logo_big{
        display: none;
    }
    .logo_small{
        display: block;
    }
    .icons .fa-solid{
        display: none;
    }
    .icons .fa-bell{
        display: block;
    }
    /* side bar */
    #sidebar{
        width: 70px;
    }
    .my_text{
        display: none;
    }
    /* main */
    #main{
        width: calc(100% - 75px);
    }
}